:root {
  --color-Orange: hsl(26, 100%, 55%);
  --color-Paleorange: hsl(25, 100%, 94%);
  --color-Veryvark blue: hsl(220, 13%, 13%);
  --color-Darkgrayish blue: hsl(219, 9%, 45%);
  --color-Grayishblue: hsl(220, 14%, 75%);
  --color-Lightgrayishblue: hsl(223, 64%, 98%);
  --color-White: hsl(0, 0%, 100%);
  --color-Blacklightboxbackground: hsl(0, 0%, 0%);
  --color-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

*, *::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0.5rem 1rem;
  background-color: var(--color-White);
}

nav {
  align-items: flex-start;
  display: flex;
  width: 100%;
  height: 5vh;
  margin: auto;
  justify-content: space-between;
}

form {
  display: flex;
}

ul {
  list-style-type: none;
}

li {
  margin: 1rem;
}

span {
  margin-left: 0.7rem;
  color: var(--color-MediumGray);
  font-weight: 700;
  font-size: 15px;
  vertical-align: top;
}

.container {
  width: 100%;
    max-width: 367px;
}



.avatar {
  width: 30px;
}

.menu {
  width: 20px;
  margin-right: 0.5rem;
}

.menu:hover {
  cursor: pointer;
}



.close:hover {
  cursor: pointer;
}

.cart {
  width: 30px;
  margin-right: 0.5rem;
}

.cart:hover {
  cursor: pointer;
}

.sidebar {
  box-shadow: var(--color-shadow);
  background-color: var(--color-Lightgrayishblue);
  position: fixed;
  top: 0;
  right: 132px;
  left: -10px;
  max-width: 55vh;
  height: 100%;
  /* overflow: hidden; */
  z-index: 12;
  transition: all 0.3s linear;
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

.sidebar-background{
  position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;

z-index: 12;
background-color: hsla(0, 0%, 0%, 0.753);
transform: translate(-100%);
}

.show-sidebar-background{
  display: block;
  transform: translate(0);

}

.sidebar-header {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  padding-left: 1rem;
  align-items: center;
  margin: 0.7rem;
}

.product-img {
  width: 100%;
}

.product-img-1{
  top: -45px;
  position: relative;

}

.next-prev {
  height: 10vh;
  width: 100%;
     top: 144px;
  left: 0;
  right: 0;
  display: flex;
  position: absolute;
  bottom: 0;
  /* grid-column-gap: 194px */
  justify-content: space-between;
  /* margin: 0 1rem; */
  /* z-index: 1; */
}

.next, .previous {
  /* text-align-last: justify; */
  margin: 0 1.5rem;
  background-color: white;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  border-radius: 2em;
  transition: opacity 0.3s ease-in-out;
}

.next, .previous:hover {
  cursor: pointer;
}




.slider{
  position: absolute;
/* top: 24px; */
  right: 0;
  left: 0;

}

.slider-container{
width: 100%;
margin: 0 auto;
height: 40vh;
max-width: 80rem;
position: relative;

overflow: hidden;

/* z-index: 10; */
}


.slide {
position: absolute;
width: 100%;
height: 100%;
display: grid;
place-items: center;
transition: all 0.25s ease-in-out;
text-align: center;
}


.card{
  padding:0 1rem;
  width: 100%;
  max-width: 426px;
margin: 0 auto;
}

.content {
  /* max-width: 350px; */
  display: grid;
  grid-gap: 15px;
  margin-top: 1rem;
  text-align: left;
}

.span {
  color: var(--color-Orange);
  text-transform: uppercase;
  word-spacing: 1.5px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  /* margin-bottom: 1rem; */
  /* text-align: left; */
}

.heading {
  font-weight: 700;
  letter-spacing: 1px;
  /* margin-bottom: 1rem; */
}

.Paragraph {
  color: #536162;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price-2 {
  display: flex;
}

.price-heading {
  letter-spacing: 1px;
  font-weight: 700;
}

.span-2 {
  border-radius: 5px;
  margin-left: 0.6rem;
  text-align: center;
  width: 50px;
  background-color: var(--color-Paleorange);
  color: var(--color-Orange);
  font-weight: 700;
  font-size: 14px;
}

.add-to-cart {
  position: absolute;
  top: 9px;
  right: 61px;
  border-radius: 5px;
  /* padding: 0.4rem; */
  text-align: center;
  width: 25px;
  background-color: var(--color-Orange);
  color: var(--color-White);
  font-weight: 700;
  font-size: 12px;
  transition: all 3s ease-in-out;
  webkit-transform: scale(1) !important;

}

.price-Paragraph {
  color: #536162;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
  text-decoration: line-through;
}

.bottom-content {
  width: 100%;
  display: grid;
  grid-gap: 10px;

}

.plus-minu {
  display: flex;
  padding: 1rem;
  border-radius: 10px;
  background-color: hsl(220, 14%, 75%, 30%);
  justify-content: space-between;
}

.plus, .minus:hover {
  cursor: pointer;
}

.bottom-cart {
  color: var(--color-White);
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--color-Orange);
  text-align: center;
  border: none;
  box-shadow: var(--color-shadow);
}

.cart-img {
  color: var(--color-White);
}

.bottom-cart:hover {
  cursor: pointer;
}

hr {
  opacity: 45%;
  color: var(--color-Grayishblue);
}

.checkout {
  border-radius: 10px;
  position: fixed;
  width: calc(100% + -40px);
  height: 195px;
  top: 56px;
  left: 20px;
  background-color: var(--color-White);
  visibility: hidden;
  transition: all 0.3s ease;
transform: scale(0);
}
.show-checkout {
  visibility: visible;
transform: scale(1);
}

.checkout-card {
  padding: 0.8rem;
  display: grid;
  grid-gap: 10px;
}

.checkout-img {
  width: 50px;
}

.delete:hover {
  cursor: pointer;
}

.checkout-div {
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 14px;
}

.checkout-div-2 {
  grid-gap: 10px;
  display: grid;
  /* display: none; */
}

.remove-checkout-div {
  display: none;
}

.checkout-btn {
  margin: 0;
}

.checkout-text {
  display: flex;
  font-weight: 700;
}

.checkout-text-Paragraph {
  margin-right: 0.5rem;
  color: #536162;
  word-spacing: 1.5px;
  font-weight: 500;
}

.checkout-text-Paragraph-2 {
  font-weight: 700;
  color: var(--color-Blacklightboxbackground)
}

.text-container {
  margin: 2rem;
  justify-self: center;
  display: none;
}

.empty-text {
  color: #536162;
  word-spacing: 1.5px;
  font-weight: 600;
}

/* .show-empty-text {
  display: block;
} */
